.wrapperProject {
  position: relative;
  z-index: 1;
  background-color: var(--black);
  padding-top: 120px;
  padding-bottom: 60px;
  display: flex;
  gap: 25px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.leftSide {
  width: 50%;
  height: fit-content;
}
.rightSide {
  width: 50%;
}
.imgContainer {
  height: 360px;
}
.imgContainer > img {
  width: 100%;
  height: 100%;
}
.project {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.title {
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 700;
  max-width: 780px;
  margin-bottom: 81px;
  display: block;
}
.subtitle {
  font-size: 18px;
  line-height: 150%;
  color: var(--greyText);
}

.card {
  background-color: #181823;
}

.cardText {
  padding: 32px 40px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.cardTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}
.cardLink {
  opacity: 1;
}

@media screen and (max-width: 1240px) {
  .imgContainer {
    height: 320px;
  }
}

@media screen and (max-width: 1040px) {
  .wrapperProject {
    flex-direction: column;
  }
  .title {
    max-width: unset;
  }
  .leftSide,
  .rightSide {
    width: 100%;
  }
  .project {
    display: flex;
    flex-direction: row;
  }
  .cardText {
    padding: 24px 20px;
  }

  .card {
    width: 50%;
  }
  .title {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapperProject {
    padding-top: 60px;
  }
  .project {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  .imgContainer {
    height: auto;
  }
  .title {
    font-size: 32px;
  }
}
