.workExperienceContainer {
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative;
  z-index: 1;
  background-color: var(--black);
  max-width: 1440px;
  margin: 0 auto;
}
.title {
  font-size: 55px;
  font-weight: 700;
  max-width: 780px;
}
.workList {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  flex-wrap: wrap;
}

.workItem {
  width: calc(100% / 2 - 20px);
}

.num {
  font-size: 117px;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.5;
}
.nameContainer {
  font-size: var(--fnSizes-sm);
}
.description {
  font-size: var(--fnSizes-xs);
  line-height: 150%;
  font-weight: 400;
  margin-top: 16px;
  display: inline-block;
  color: var(--greyText);
}
.vocation {
  transition: color 0.3s;
}
.green {
  color: var(--green);
}
.blue {
  color: var(--blue);
}
.pink {
  color: var(--pink);
}
.years {
  color: var(--greyText);
}

.titleSection {
  color: #ffffff60;
  font-weight: 400;
}
.yearsTitle {
  color: var(--white);
  font-weight: 600;
  font-size: var(--fnSizes-sm);
}

@media screen and (max-width: 1240px) {
  .workList {
    gap: 18px;
  }
}

@media screen and (max-width: 1040px) {
  .num {
    font-size: 90px;
  }
  .title {
    font-size: var(--fnSizes-xl);
  }
}

@media screen and (max-width: 768px) {
  .num {
    font-size: 117px;
  }

  .workList {
    gap: 40px;
    flex-direction: column;
  }
  .title {
    font-size: var(--fnSizes-m);
  }
  .workItem {
    width: 100%;
  }
  .description {
    color: var(--white);
  }
}
