.philosophyValuesContainer {
  height: 600px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: var(--peach);
  color: var(--black);
  display: flex;
  padding-left: 72px;
}

.leftSide {
  width: 50%;
  padding-top: 120px;
  padding-bottom: 125px;
  padding-right: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  margin-bottom: 24px;
}
.rightSide {
  width: 50%;
  background-image: url(../../images/values.png);
  background-size: cover;
  background-position: center;
}
.moreBtn {
  color: #00000080;
  text-transform: capitalize;
  position: relative;
  width: fit-content;
}
.moreBtn::after {
  content: " ";
  display: block;
  width: 85%;
  height: 1px;
  background-color: #00000080;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  transition:
    width 0.5s,
    color 0.5s;
}
.moreBtn:hover {
  color: var(--black);
}
.moreBtn:hover:after {
  width: 0px;
  background-color: var(--black);
}
