.container {
  display: flex;
  gap: 24px;
  margin-left: 110px;
  margin-top: 120px;
  margin-right: 110px;
  padding-bottom: 120px;
}
.leftSide,
.rightSide {
  width: 50%;
}

.subtitle {
  font-size: 18px;
  line-height: 150%;
  color: var(--greyText);
  margin-top: 24px;
  display: inline-block;
}
.form {
  flex-direction: column;
  display: flex;
}
.label {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

input {
  background-color: var(--grey);
  border: none;
  height: 50px;
  margin-bottom: 40px;
  margin-top: 8px;
}
.btnSubmit {
  width: 100%;
  background-color: var(--primary);
  color: var(--white);
  height: 75px;
}
