.container {
  display: flex;
  gap: 24px;
  margin-left: 110px;
  margin-top: 120px;
  margin-right: 110px;
  padding-bottom: 120px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.rightSide {
  position: relative;
}
.leftSide,
.rightSide {
  width: 50%;
}

.subtitle {
  line-height: 150%;
  color: var(--greyText);
  margin-top: 24px;
  display: inline-block;
}
.form {
  flex-direction: column;
  display: flex;
}
.label {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.label {
  margin-top: 30px;
}
input {
  background-color: var(--grey);
  border: none;
  height: 50px;
  margin-top: 8px;
  outline: none;
  color: var(--white);
  padding: 5px 10px;
  width: 100%;
}
.btnSubmit {
  margin-top: 40px;
  width: 100%;
  background-color: var(--primary);
  color: var(--white);
  height: 75px;
}
.field {
  position: relative;
}
.errorMessage {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 12px;
  color: red;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .leftSide,
  .rightSide {
    width: 100%;
  }
}

.preloader {
  background-color: #00000090;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.btnResend {
  margin-top: 20px;
  width: fit-content;
  color: var(--primary);
  height: 75px;
}
