.container {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  gap: 24px;
  position: relative;
  z-index: 1;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.otherContainer {
  max-width: 1440px;
  margin: 0 auto;
}
.otherList {
  display: flex;
  padding-bottom: 120px;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 24px;
  width: calc(100% / 3);
}
.title {
  display: inline-block;
}
.description {
  line-height: 150%;
  max-width: 368px;
  color: var(--greyText);
  font-size: 20px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: calc(100% / 3 * 2);
}
.item {
  padding-right: 10px;
  width: calc(100% / 2 - 24px);
}
.icon {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: center;
}
.first {
  background-image: url(../../images/icons/js.svg);
}
.second {
  background-image: url(../../images/icons/reactIcon.svg);
}
.third {
  background-image: url(../../images/icons/next.svg);
}
.fourth {
  background-image: url(../../images/icons/node.svg);
}
.name {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
}
.descriptionItem {
  font-size: 16px;
  line-height: 150%;
  max-width: 368px;
  display: inline-block;
}
.scoreContainer {
  display: flex;
  margin-bottom: 24px;
}
.nameContainer {
  display: flex;
  gap: 15px;
  margin-bottom: 6px;
  align-items: flex-end;
}

@media screen and (max-width: 1040px) {
  .container {
    flex-direction: column;
    padding-top: 60px;
  }
  .titleContainer {
    padding-right: 0;
    width: 100%;
  }
  .description {
    max-width: unset;
  }
  .list {
    width: 100%;
  }
  .otherList {
    gap: 12px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .item {
    width: 100%;
  }
  .descriptionItem {
    max-width: unset;
  }
}
@media screen and (max-width: 480px) {
  .otherList {
    justify-content: flex-start;
  }
}
