.footer {
  background-color: var(--grey);
  padding-bottom: 40px;
  padding-top: 40px;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 40px;
}
.links {
  gap: 24px;
  display: flex;
  align-items: center;
}
.link {
  text-transform: capitalize;
  position: relative;
  width: fit-content;
  display: block;
}

.logo {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.navFooter {
  display: flex;
  gap: 24px;
}
.navFooter > ul {
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.navFooter > ul > li > a {
  font-size: 18px;
}
.infoContainer {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
.info {
  font-size: 14px;
  width: fit-content;
  display: block;
  color: var(--greyText);
}
