:root {
  --black: #000000;
  --greyText: #8491a0;
  --grey: #181823;
  --lightGrey: #deecf9;
  --darkGrey: #c7e0f4;
  --white: #ffffff;
  --primary: #5221e6;
  --green: #3cc74e;
  --pink: #e95d90;
  --peach: #fff3e4;
  --violet: #fbe4ff;
  --blue: #609bff;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  padding-left: 72px;
  padding-right: 72px;
}
body {
  margin: 0;
  font-family: "Sen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: var(--white);
}
html {
  -webkit-tap-highlight-color: var(--black);
}

code {
  font-family: "Sen", sans-serif;
}
button {
  border: none;
  background-color: unset;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

body {
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
}

a {
  transition: opacity 0.3s;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  opacity: 0.7;
}
a:hover {
  opacity: 1;
  color: var(--white);
}
li {
  text-decoration: none;
  list-style: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 700;
}

.image {
  display: block;
}
h1 {
  font-size: 76px;
}
h2 {
  font-size: 55px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}

/* Section */
.titleSection {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 8px;
  text-transform: uppercase;
}

@media screen and (max-width: 1040px) {
  .container {
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 700px;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  background: var(--black);
  z-index: 10;
  height: 700px;
}

.button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 10;
  background: transparent;
}
.button > svg > path {
  stroke: var(--white);
}
.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.flex {
  display: flex;
}
